table{
  background-color: #6b5acd;
  width: 100%;
  color: white;
  border-spacing: 13px;
}
.noborder{
  border-spacing: 0px;
}

h1, .centered{
  text-align: center;
  color: #6b5acd;
  text-decoration: underline #6b5acd;
}
.tab{
    padding-left: 20%;
    padding-right: 25%;
  

}
.tick{
  padding-top: 10%;
  text-align: center;
}
P{
  font-size: 20px;
  font-weight: bold;
}

